{% extends 'base.html' %}

{% block main %}


<div class="container">

  <div class="text-center">
    <form class="forn-inline" method="POST" action="/genrate_report"> 
      {% csrf_token %}
      <div class="row">

        <div class="col">
          <input type="text" class="form-control" placeholder="Mr Name/ Mr Username" aria-label="First name" name="mr">
        </div>

        <div class="col">
          <input type="date" class="form-control" placeholder="Date" aria-label="First name" name="fdate">
        </div>
       

        <div class="col">
          <input type="date" class="form-control" placeholder="Date" aria-label="First name" name="tdate">
        </div>
       

        <div class="col">
          <button class="btn btn-info form-control" type="submit">Get Report</button>
        </div>

      </div>
    </form>
  </div>



<form  action="/report" method="POST">
  {% csrf_token %}  
<div class="input-group my-2 mb-3">
  <input type="text" class="form-control" name="mr" placeholder="filter data" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-success" type="submit">Search</button>
  </div>
</div>
  
</form>
  <table class="table table-hover my-4" style="    border-style: solid;
  border-color: black;">
    <thead>
        <tr>
            <th scope="col">Dr. Name </th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Mr</th>
            <th scope="col">Status</th>
            <th scope="col">Location</th>
        </tr>
    </thead>
    <tbody>
        {% for i in visit %}
          

        <tr>
            <th scope="row">{{i.doctor_first_name}}  {{i.doctor_last_name}}</th>
            <td>{{i.date}}</td>
            <td>{{i.time}}</td>
            <td>{{i.mr_username}}</td>
            <td>{{i.status}}
            </td>
            <td>
            <a href="/report_location/{{i.id}}"><i class="material-icons btn"  style="font-size:30px; color: orange;">pin_drop</i> 
            </a>
            </td>

            
        </tr>

     

        {% endfor %}

    </tbody>
</table>


</div>



<!-- Modal -->

 
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        

      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>



 <style>
   .modal-backdrop {
    z-index: -1;
}
 </style>







{% endblock %}