{% extends "base.html" %} {% block title %} {% endblock title %} {% block main %} {% load static %}

<div id="conteudo">

  <div class="conteudo-inner">
      <div class="conteudo-wrapper">



          <div class="conteudo-box">
              <div class="conteudo-boxInner">
    
                <h5>Update Doctor</h5>

                <div class="form my-3">
                  <form action="/update_dr/{{up.id}}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    
                    <div class="row">
                      <div class="col">
                        <input required type="text" class="form-control" placeholder="Hospital Name" name="hospital_name" value="{{up.hospital_name}}">
                      </div>
                      <div class="col">
                        <input required type="email" class="form-control" placeholder="email" name="email" value="{{up.email}}">
                      </div>
                    </div>

                    <div class="row my-2">
                      <div class="col">
                        <input required type="text" class="form-control" placeholder="First Name" name="fname" value="{{up.first_name}}">
                      </div>
                      <div class="col">
                        <input  required type="text" class="form-control" placeholder="Last Name" name="lname" value="{{up.last_name}}">
                      </div>
                    </div>


                    <div class="row my-2">
                      
                        <div class="col">
                          <input  required type="text" class="form-control my-3" placeholder="Mr User Name" name="user_name" value="{{up.mr_username}}">
                        </div>

                        <div class="col">
                            <label for="formFileSm" class="form-label">Upload Profile Pic</label>
                            <input required class="form-control form-control-sm" id="formFileSm" type="file" name="profile" value="{{up.profile_pic}}">
                        </div>
                      </div>


         


                    
                    <div class="row my-2">
                      <div class="col text-center ">
                        <button type="button" onclick="getLocation()" class="btn btn-info text-white w-100 rounded-0"><span class="fa fa-map-marker"> </span> Get Location</button>
                      </div>
                      <div class="col">
                        <input required type="text" class="form-control" placeholder="lattitude" name="lat" id="lat" value="{{up.latitude}}">
                      </div>
                      <div class="col">
                        <input required type="text"  class="form-control" placeholder="longitide" name="long" id="long" value="{{up.longitude}}">
                      </div>
                    </div>

                    <div class="row">

          
                      <div class="col">
                        <input required type="number" class="form-control" placeholder="Mobile" name="mobile" value="{{up.mobile}}">
                      </div>
                      <div class="col">
                        <input required type="date" class="form-control" placeholder="Date Of Birth" name="dob" value="{{up.dob}}">
                      </div>
                    </div>


                    <div class="row">
          
                        <div class="col">
                          <input required type="text" class="form-control" placeholder="City" name="city" value="{{up.city}}">
                        </div>
                        <div class="col">
                          <input required type="text" class="form-control" placeholder="Category" name="category" value="{{up.category}}">
                        </div>
                      </div>

                    




                  <script>
                  var x = document.getElementById("lat");
                  var y = document.getElementById("long");

                  function getLocation() {
                    if (navigator.geolocation) {
                      navigator.geolocation.watchPosition(showPosition);
                    } else { 
                      x.innerHTML = "Geolocation is not supported by this browser.";
                    }
                  }
                      
                  function showPosition(position) {
                      x.value=position.coords.latitude 
                      y.value=position.coords.longitude 
                      
                  }
                  </script>


                    <a href="/dr_list">
                    <button type="button" class="btn btn-danger my-2">Cancel</button>
                    </a>

                    <button type="submit" class="btn btn-success my-2">Save</button>

                  </form>


                </div>

                </div>
     
        </div>
</div>



{% endblock %}
